*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
#container{
	width: 970px;
	height: 1500px;
	background-color: white;
}
.header{
	height: 75px;
	border: 2px solid #ededed;
	border-radius: 8px;
	background: linear-gradient(#f7f7f5, #e0e0e0); 
	padding-bottom: 5px;
}
.header img{
	display: inline-block;
	vertical-align: top;
	width: 80px;
	height: 75px;
}
.btn-group{
	display: inline-block;
	vertical-align: top;
	/*border: 2px solid #ededed;*/
}
.btn-group a{
	width: 90px;
	height: 75px;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	border: 1px solid #ededed;
	background: linear-gradient(#f7f7f5, #e0e0e0); 
	text-decoration: none;
	text-align: center;
	color: black;
	line-height: 75px;

}
.search-bar{
	height: 75px;
	width: 388px;
	background: linear-gradient(#f7f7f5, #e0e0e0); 
	display: inline-block;
	vertical-align: center;
	text-align: center;
	padding-top: 20px;
	padding-left: 25px;	
	
}
.search-bar input{
	height: 25px;
	text-align: center;
	margin-top: 8px;
 	margin-right: 16px;
 	font-size: 17px;
 	text-align: center;
	border-radius: 10px;
	border: none;	

}
/*.search-bar button{
	height: 25px;
	cursor: pointer;
}*/
.selection{
	height: 445px;
	background-color: #515151;
	
}
.selection img{
	width: 970px;
}
.main-bar{
	height: 40px;
	background: linear-gradient(#515151, #3d3d3d);
	border-radius: 0px 0px 8px 8px;


}
.main-bar a{
	color: #81a6b9;
	text-decoration: none;
	font-size: 16px;
	padding: 10px 10px 0px 10px;
}
.info_body{
	height: 555px;
	background: linear-gradient(#fcfcfc, #f2f2f2);
	border: 2px solid #ededed;
	margin-top: 25px;

}
.ib-header{
	height: 100px;
	
	border-bottom: 2px solid #ededed;
	
	padding: 0px 20px;
}
.ib-header h2{
	color: #b8b8b8;
	line-height: 100px;
	display: inline-block;
	vertical-align: top;
}
.ib-header form{
	display: inline-block;
	padding-left: 20px;
	padding-top: 20px;
}
.ib-header form button{
	height: 50px;
	width: 350px;
	color: white;
	background: linear-gradient(#5795be, #517894); 
	display: inline-block;
	vertical-align: top;
	border-radius: 4px;
	font-size: 18px;
}
.content{
	height: 375px;
	
}
.subcontent{
	height: 333px;
	width: 195px;
	
	display: inline-block;
	vertical-align: top;
	padding: 20px;
	border-radius: 4px;
	/*border-left: 2px solid #ededed;*/
}
.top{
	width: 195px;
	margin-bottom: 10px;
	height: 120px;
}
.top img{
	width: 30px;
	display: inline-block;
	vertical-align: top;
}
.top h4{
	display: inline-block;
	vertical-align: top;
	padding: 10px;

}
.top p {
	font-size: 12px;
	padding: 10px;
}
.img-box{
	width: 195px;
	text-align: bottom;
}
.img-box img, .img-box form button{
	width: 195px;


}
.img-box button{
	background-color: #58a9e7;
	border-radius: 4px;
	color:white;
	height: 40px;
	font-size: 16px;
}
.ib-footer{
	height: 75px;
	
	border: 2px solid #ededed;
}
.footer{
	height: 345px;
	

}
.sub-box{
	height: 275px;
	border-bottom: 2px solid #ededed;
}
.fcontent{
	width: 116px;
	height: 305px;
	
	display: inline-block;
	vertical-align: top;
	padding: 20px;


}
.flinks{
	width: 110px;
	height: 240px;
	
	border-top: 2px solid #ededed;
}
.fcontent h6 {
	padding-bottom: 10px;
}
.flinks a {
	text-decoration: none;
	color: black;
	font-size: 12px;
	display: block;
	padding-top: 10px;

}
.subfooter{
	height: 50px;
	
}
.subfooter p {
	font-size: 12px;
	padding-top: 15px;
}